$btn-color: #ec631d;
$bg-color1: #c8dcff;
// font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

//header

/*
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    color: #444;
    font-size: 16px;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    box-sizing: border-box;
    padding: 15px 30px;
    border: 1px solid #dfdfdf;
    background: url("https://deonnis3.theweb.place/happycurls/images/why-we-images.png");
    flex-direction: column;
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 120px;
}
    */

//experiment
div.content {
    position: relative;
}
/*
div.business-container {
    box-sizing: border-box;
    padding: 15px 30px;
    border: none;
    background: url("https://deonnis3.theweb.place/happycurls/images/why-we-images.png");
    flex-direction: column;
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 120px;
}
    */

    div.business-container {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        line-height: 1.42857143;
        color: #444;
        font-size: 16px;
        font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
        height: 45.2083333333vw;
        box-sizing: border-box;
        padding: 15px 30px;
        border: none;
        background: url("https://happycurls.pl/images/hero-bg.png") center bottom / cover #61c4eb;
        flex-direction: column;
        position: relative;
        left: 50%;
        right: 50%;
        width: 100vw;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        // padding-top: 120px;
        background-size: cover;

        &::before {
            content: "";
            width: 43.2291666667vw;
            background: rgba(0, 155, 234, .6);
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
        }
    }

    div.business-logo-container {
        margin-top: 37px;
        position: absolute;
        display: flex;
        top: 8vh;
        left: 11vw;
        img {
            width: 3.6979166667vw;
            margin-right: .7291666667vw;
        }

        &::after {
            // margin-left: 1vw;
            font-weight: 600;
            color: #fff;
            font-family: "Playfair Display", sans-serif;
            font-size: 1.6666666667vw;
            content: 'HAPPYCURLS'
        }
        
    }


// description
#appointment-form {
    div.business-container {
        div.business-content-logo-adjust-container {
            width: 75vw;

            div.business-description {
                height: 45.2083333333vw;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;    
                font-family: "Playfair Display",sans-serif;
            }

            p {
                max-width: 27.6041666667vw;
                font-size: 4.7916666667vw;
                font-weight: 600;
                font-family: "Playfair Display", sans-serif;
                color: #fff;

                strong {
                    max-width: 27.6041666667vw;
                    font-size: 4.7916666667vw;
                    font-weight: 600;
                    font-family: "Playfair Display", sans-serif;
                    color: #fff;
                    margin-bottom: 1.3541666667vw;
                }
                div {
                    color: #fff;
                    font-size: 1.1458333333vw;
                    max-width: 27.6041666667vw;
                    margin-bottom: 1.5104166667vw;
                }
            }
        }

    }
}

// @import url("https://auzil.github.io/override.css")
.btn-primary {
    background-color: $btn-color
}

// form step 

div.step-pane {
    h2 {
        span.step-number {
            background-color: $btn-color
        }
    }
}


// select profile photo
#select-calendar-options {
    .select-group {
      div {
        .item-image-container {
          img {
            border-radius: 10px;
          }
        }
      }
    }
  }



  // calendar
  #dates-and-times {
    fieldset {
        div.choose-time {
            div.form-inline {
                label {
                    &:hover {
                        border-color: $btn-color;
                    }
                    &.checked {
                        border-color: $btn-color;
                        color: $btn-color;
                    }
                }

                div.choose-time-actions {
                    border-color: $btn-color;
                    color: $btn-color;
                }

                a.btn.btn-primary.btn-next-step {
                    background-color: $btn-color
                }
            }
        }
    }
  }